body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(45deg,rgb(219, 0, 91),rgb(0, 112, 241)); */
    background-color: #262626;
}
html{
    scroll-behavior: smooth;
}
.box{
    width: 350px;
    height: 250px;
    background:linear-gradient(45deg,rgb(0, 112, 241),rgb(219, 0, 91)) ;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 0px 15px -5px ;
}
.box .counter{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    overflow: hidden;
}
.box .counter span{
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    padding: 20px;
}
.box .counter span::after{
    content: '1MB\A 2MB\A 3MB\A 4MB\A 5MB\A 6MB\A 7MB\A 8MB\A 9MB\A 10MB\A 11MB\A 12MB\A 13MB\A 14MB\A 15MB\A 16MB\A 17MB\A 18MB\A 19MB\A 20MB\A 21MB\A 22MB\A 23MB\A 24MB\A 25MB\A 26MB\A 27MB\A 28MB\A 29MB\A 30MB\A 31MB\A 32MB\A 33MB\A 34MB\A 35MB\A 36MB\A 37MB\A 38MB\A 39MB\A 40MB\A 41MB\A 42MB\A 43MB\A 44MB\A 45MB\A 46MB\A 47MB\A 48MB\A 49MB\A 50MB\A 51MB\A 52MB\A 53MB\A 54MB\A 55MB\A 56MB\A 57MB\A 58MB\A 59MB\A 60MB\A 61MB\A 62MB\A 63MB\A 64MB\A 65MB\A 66MB\A 67MB\A 68MB\A 69MB\A 70MB\A 71MB\A 72MB\A 73MB\A 74MB\A 75MB\A 76MB\A 77MB\A 78MB\A 79MB\A 80MB\A 81MB\A 82MB\A 83MB\A 84MB\A 85MB\A 86MB\A 87MB\A 88MB\A 89MB\A 90MB\A 91MB\A 92MB\A 93MB\A 94MB\A 95MB\A 96MB\A 97MB\A 98MB\A 99MB\A 100MB\A 101MB\A 102MB\A 103MB\A 104MB\A 105MB\A 106MB\A 107MB\A 108MB\A 109MB\A 110MB\A 111MB\A 112MB\A 113MB\A 114MB\A 115MB\A 116MB\A 117MB\A 118MB\A 119MB\A 120MB\A 121MB\A 122MB\A 123MB\A 124MB\A 125MB\A 126MB\A 127MB\A 128MB\A 129MB\A 130MB\A 131MB\A 132MB\A 133MB\A 134MB\A 135MB\A 136MB\A 137MB\A 138MB\A 139MB\A 140MB\A 141MB\A 142MB\A 143MB\A 144MB\A 145MB\A 146MB\A 147MB\A 148MB\A 149MB\A 150MB\A 151MB\A 152MB\A 153MB\A 154MB\A 155MB\A 156MB\A 157MB\A 158MB\A 159MB\A 160MB\A 161MB\A 162MB\A 163MB\A 164MB\A 165MB\A 166MB\A 167MB\A 168MB\A 169MB\A 170MB\A 171MB\A 172MB\A 173MB\A 174MB\A 175MB\A 176MB\A 177MB\A 178MB\A 179MB\A 180MB\A 181MB\A 182MB\A 183MB\A 184MB\A 185MB\A 186MB\A 187MB\A 188MB\A 189MB\A 190MB\A 191MB\A 192MB\A 193MB\A 194MB\A 195MB\A 196MB\A 197MB\A 198MB\A 199MB\A 200MB\A 201MB\A 202MB\A 203MB\A 204MB\A 205MB\A 206MB\A 207MB\A 208MB\A 209MB\A 210MB\A 211MB\A 212MB\A 213MB\A 214MB\A 215MB\A 216MB\A 217MB\A 218MB\A 219MB\A 220MB\A 221MB\A 222MB\A 223MB\A 224MB\A 225MB\A 226MB\A 227MB\A 228MB\A 229MB\A 230MB\A 231MB\A 232MB\A 233MB\A 234MB\A 235MB\A 236MB\A 237MB\A 238MB\A 239MB\A 240MB\A 241MB\A 242MB\A 243MB\A 244MB\A 245MB\A 246MB\A 247MB\A 248MB\A 249MB\A 250MB\A 251MB\A 252MB\A 253MB\A 254MB\A 255MB\A 256MB\A 257MB\A 258MB\A 259MB\A 260MB\A 261MB\A 262MB\A 263MB\A 264MB\A 265MB\A 266MB\A 267MB\A 268MB\A 269MB\A 270MB\A 271MB\A 272MB\A 273MB\A 274MB\A 275MB\A 276MB\A 277MB\A 278MB\A 279MB\A 280MB\A 281MB\A 282MB\A 283MB\A 284MB\A 285MB\A 286MB\A 287MB\A 288MB\A 289MB\A 290MB\A 291MB\A 292MB\A 293MB\A 294MB\A 295MB\A 296MB\A 297MB\A 298MB\A 299MB\A 300MB\A 301MB\A 302MB\A 303MB\A 304MB\A 305MB\A 306MB\A 307MB\A 308MB\A 309MB\A 310MB\A 311MB\A 312MB\A 313MB\A 314MB\A 315MB\A 316MB\A 317MB\A 318MB\A 319MB\A 320MB\A 321MB\A 322MB\A 323MB\A 324MB\A 325MB\A 326MB\A 327MB\A 328MB\A 329MB\A 330MB\A 331MB\A 332MB\A 333MB\A 334MB\A 335MB\A 336MB\A 337MB\A 338MB\A 339MB\A 340MB\A 341MB\A 342MB\A 343MB\A 344MB\A 345MB\A 346MB\A 347MB\A 348MB\A 349MB\A 350MB\A 351MB\A 352MB\A 353MB\A 354MB\A 355MB\A 356MB\A 357MB\A 358MB\A 359MB\A 360MB\A 361MB\A 362MB\A 363MB\A 364MB\A 365MB\A 366MB\A 367MB\A 368MB\A 369MB\A 370MB\A 371MB\A 372MB\A 373MB\A 374MB\A 375MB\A 376MB\A 377MB\A 378MB\A 379MB\A 380MB\A 381MB\A 382MB\A 383MB\A 384MB\A 385MB\A 386MB\A 387MB\A 388MB\A 389MB\A 390MB\A 391MB\A 392MB\A 393MB\A 394MB\A 395MB\A 396MB\A 397MB\A 398MB\A 399MB\A 400MB\A 401MB\A 402MB\A 403MB\A 404MB\A 405MB\A 406MB\A 407MB\A 408MB\A 409MB\A 410MB\A 411MB\A 412MB\A 413MB\A 414MB\A 415MB\A 416MB\A 417MB\A 418MB\A 419MB\A 420MB\A 421MB\A 422MB\A 423MB\A 424MB\A 425MB\A 426MB\A 427MB\A 428MB\A 429MB\A 430MB\A 431MB\A 432MB\A 433MB\A 434MB\A 435MB\A 436MB\A 437MB\A 438MB\A 439MB\A 440MB\A 441MB\A 442MB\A 443MB\A 444MB\A 445MB\A 446MB\A 447MB\A 448MB\A 449MB\A 450MB\A 451MB\A 452MB\A 453MB\A 454MB\A 455MB\A 456MB\A 457MB\A 458MB\A 459MB\A 460MB\A 461MB\A 462MB\A 463MB\A 464MB\A 465MB\A 466MB\A 467MB\A 468MB\A 469MB\A 470MB\A 471MB\A 472MB\A 473MB\A 474MB\A 475MB\A 476MB\A 477MB\A 478MB\A 479MB\A 480MB\A 481MB\A 482MB\A 483MB\A 484MB\A 485MB\A 486MB\A 487MB\A 488MB\A 489MB\A 490MB\A 491MB\A 492MB\A 493MB\A 494MB\A 495MB\A 496MB\A 497MB\A 498MB\A 499MB\A 500MB\A 501MB\A 502MB\A 503MB\A 504MB\A 505MB\A 506MB\A 507MB\A 508MB\A 509MB\A 510MB\A 511MB\A 512MB\A 513MB\A 514MB\A 515MB\A 516MB\A 517MB\A 518MB\A 519MB\A 520MB\A 521MB\A 522MB\A 523MB\A 524MB\A 525MB\A 526MB\A 527MB\A 528MB\A 529MB\A 530MB\A 531MB\A 532MB\A 533MB\A 534MB\A 535MB\A 536MB\A 537MB\A 538MB\A 539MB\A 540MB\A 541MB\A 542MB\A 543MB\A 544MB\A 545MB\A 546MB\A 547MB\A 548MB\A 549MB\A 550MB\A 551MB\A 552MB\A 553MB\A 554MB\A 555MB\A 556MB\A 557MB\A 558MB\A 559MB\A 560MB\A 561MB\A 562MB\A 563MB\A 564MB\A 565MB\A 566MB\A 567MB\A 568MB\A 569MB\A 570MB\A 571MB\A 572MB\A 573MB\A 574MB\A 575MB\A 576MB\A 577MB\A 578MB\A 579MB\A 580MB\A 581MB\A 582MB\A 583MB\A 584MB\A 585MB\A 586MB\A 587MB\A 588MB\A 589MB\A 590MB\A 591MB\A 592MB\A 593MB\A 594MB\A 595MB\A 596MB\A 597MB\A 598MB\A 599MB\A 600MB\A 601MB\A 602MB\A 603MB\A 604MB\A 605MB\A 606MB\A 607MB\A 608MB\A 609MB\A 610MB\A 611MB\A 612MB\A 613MB\A 614MB\A 615MB\A 616MB\A 617MB\A 618MB\A 619MB\A 620MB\A 621MB\A 622MB\A 623MB\A 624MB\A 625MB\A 626MB\A 627MB\A 628MB\A 629MB\A 630MB\A 631MB\A 632MB\A 633MB\A 634MB\A 635MB\A 636MB\A 637MB\A 638MB\A 639MB\A 640MB\A 641MB\A 642MB\A 643MB\A 644MB\A 645MB\A 646MB\A 647MB\A 648MB\A 649MB\A 650MB\A 651MB\A 652MB\A 653MB\A 654MB\A 655MB\A 656MB\A 657MB\A 658MB\A 659MB\A 660MB\A 661MB\A 662MB\A 663MB\A 664MB\A 665MB\A 666MB\A 667MB\A 668MB\A 669MB\A 670MB\A 671MB\A 672MB\A 673MB\A 674MB\A 675MB\A 676MB\A 677MB\A 678MB\A 679MB\A 680MB\A 681MB\A 682MB\A 683MB\A 684MB\A 685MB\A 686MB\A 687MB\A 688MB\A 689MB\A 690MB\A 691MB\A 692MB\A 693MB\A 694MB\A 695MB\A 696MB\A 697MB\A 698MB\A 699MB\A 700MB\A 701MB\A 702MB\A 703MB\A 704MB\A 705MB\A 706MB\A 707MB\A 708MB\A 709MB\A 710MB\A 711MB\A 712MB\A 713MB\A 714MB\A 715MB\A 716MB\A 717MB\A 718MB\A 719MB\A 720MB\A 721MB\A 722MB\A 723MB\A 724MB\A 725MB\A 726MB\A 727MB\A 728MB\A 729MB\A 730MB\A 731MB\A 732MB\A 733MB\A 734MB\A 735MB\A 736MB\A 737MB\A 738MB\A 739MB\A 740MB\A 741MB\A 742MB\A 743MB\A 744MB\A 745MB\A 746MB\A 747MB\A 748MB\A 749MB\A 750MB\A 751MB\A 752MB\A 753MB\A 754MB\A 755MB\A 756MB\A 757MB\A 758MB\A 759MB\A 760MB\A 761MB\A 762MB\A 763MB\A 764MB\A 765MB\A 766MB\A 767MB\A 768MB\A 769MB\A 770MB\A 771MB\A 772MB\A 773MB\A 774MB\A 775MB\A 776MB\A 777MB\A 778MB\A 779MB\A 780MB\A 781MB\A 782MB\A 783MB\A 784MB\A 785MB\A 786MB\A 787MB\A 788MB\A 789MB\A 790MB\A 791MB\A 792MB\A 793MB\A 794MB\A 795MB\A 796MB\A 797MB\A 798MB\A 799MB\A 800MB\A 801MB\A 802MB\A 803MB\A 804MB\A 805MB\A 806MB\A 807MB\A 808MB\A 809MB\A 810MB\A 811MB\A 812MB\A 813MB\A 814MB\A 815MB\A 816MB\A 817MB\A 818MB\A 819MB\A 820MB\A 821MB\A 822MB\A 823MB\A 824MB\A 825MB\A 826MB\A 827MB\A 828MB\A 829MB\A 830MB\A 831MB\A 832MB\A 833MB\A 834MB\A 835MB\A 836MB\A 837MB\A 838MB\A 839MB\A 840MB\A 841MB\A 842MB\A 843MB\A 844MB\A 845MB\A 846MB\A 847MB\A 848MB\A 849MB\A 850MB\A 851MB\A 852MB\A 853MB\A 854MB\A 855MB\A 856MB\A 857MB\A 858MB\A 859MB\A 860MB\A 861MB\A 862MB\A 863MB\A 864MB\A 865MB\A 866MB\A 867MB\A 868MB\A 869MB\A 870MB\A 871MB\A 872MB\A 873MB\A 874MB\A 875MB\A 876MB\A 877MB\A 878MB\A 879MB\A 880MB\A 881MB\A 882MB\A 883MB\A 884MB\A 885MB\A 886MB\A 887MB\A 888MB\A 889MB\A 890MB\A 891MB\A 892MB\A 893MB\A 894MB\A 895MB\A 896MB\A 897MB\A 898MB\A 899MB\A 900MB\A 901MB\A 902MB\A 903MB\A 904MB\A 905MB\A 906MB\A 907MB\A 908MB\A 909MB\A 910MB\A 911MB\A 912MB\A 913MB\A 914MB\A 915MB\A 916MB\A 917MB\A 918MB\A 919MB\A 920MB\A 921MB\A 922MB\A 923MB\A 924MB\A 925MB\A 926MB\A 927MB\A 928MB\A 929MB\A 930MB\A 931MB\A 932MB\A 933MB\A 934MB\A 935MB\A 936MB\A 937MB\A 938MB\A 939MB\A 940MB\A 941MB\A 942MB\A 943MB\A 944MB\A 945MB\A 946MB\A 947MB\A 948MB\A 949MB\A 950MB\A 951MB\A 952MB\A 953MB\A 954MB\A 955MB\A 956MB\A 957MB\A 958MB\A 959MB\A 960MB\A 961MB\A 962MB\A 963MB\A 964MB\A 965MB\A 966MB\A 967MB\A 968MB\A 969MB\A 970MB\A 971MB\A 972MB\A 973MB\A 974MB\A 975MB\A 976MB\A 977MB\A 978MB\A 979MB\A 980MB\A 981MB\A 982MB\A 983MB\A 984MB\A 985MB\A 986MB\A 987MB\A 988MB\A 989MB\A 990MB\A 991MB\A 992MB\A 993MB\A 994MB\A 995MB\A 996MB\A 997MB\A 998MB\A 999MB\A 1000MB\A';
  position: absolute;
  white-space: pre;
  left:50%;
  transform: translateX(-50%);
 
}
.box svg{
    width: 160px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box  svg circle{
    fill: transparent;
    stroke: turquoise;
    stroke-width: 10;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-linecap: round;
    
}
.box:hover circle{
    stroke-dashoffset: 120;
    animation: stroke .5s steps(500) forwards;

}
.box:hover circle{
    stroke-dashoffset: 120;
    animation: stroke 10s steps(500) forwards;

}
.box:hover .counter span::after{
    animation: animate 10s steps(100) forwards  ;
}
@keyframes animate{
    0%{
        top:0%;
    }
    100%{
        top:-45000px;
    }
}
@keyframes stroke{
    0%{
        stroke-dashoffset: 500;
    }
}